<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean class="com.diObject.StudentBean" id="s1">
   <property name="rollno" value="2629"></property>
   <property name="name" value="Praveen"></property>
   <property name="ad" ref="id1"></property>
   
   </bean>
   <bean class="com.diObject.AddressBean" id="id1">
   <property name="platno" value="5 3"></property>
   <property name="city" value="kadapa"></property>
   <property name="pincod" value="516227"></property>
   </bean>
   
   </beans>